

  <!-- <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header> -->

  <mat-card class="blogs-container" *ngFor="let blog of blogList" (click)="navigate()">
    <mat-card-title-group>
      <mat-card-title>
        {{ blog.title }}
      </mat-card-title>
      <mat-card-header (click)="navigate()">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-subtitle>{{blog.author}}</mat-card-subtitle>
        
      </mat-card-header>
   
    </mat-card-title-group>
    
    <mat-card-content>
        {{ blog.preview }}
    </mat-card-content>

     <mat-chip class="example-box"
    cdkDrag
    >
    {{blog.subject}}
  </mat-chip>
  </mat-card>

